@import 'variables';

.nav {
    position: fixed;
    top:0;
    width:100vw;
    @include flexBox(space-between);
    background-color: rgba(0, 0, 0, 0.25);
    color: $white;

    @include mobile {
      background-color: rgba(0, 0, 0, 0.25);
    }
    
    #logo {  
        display:flex;
        align-items:center;
        padding-left: 10%;
        h4 {
            padding-left:10px;
        }
    }
    ul {
        text-transform:uppercase;
        letter-spacing: 1px;
        padding-right: 10%;

        @include mobile {
          padding-right: 0;
        }

        li {
            display: inline-block;
            position: relative;
            margin:10px;

                a {
                    text-decoration: none;
                    color: $white;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: $blue;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                    }

                    &:hover:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }  
        }
    }


    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &-button-container {
          display: none;
          height: 100%;
          width: 30px;
          cursor: pointer;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-right: 10%;

          @include mobile{
            display: flex;
          }
        }

        @include mobile {
          position: absolute;
          top: 0;
          margin-top: 90px;
          left: 0;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
      }
      
      .menu > li {
        margin: 0 1rem;
        @include mobile {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
          color: $white;
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
     
      #menu-toggle {
        display: none;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 2px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: '';
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: '';
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(0, 0, 0, 0.25);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
      
      @include mobile {
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
          visibility: hidden;
        }
        #menu-toggle:checked ~ .menu li {
            height: 3em;
            padding: 1em;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            visibility: visible;
        }
      }     