$red:#FF5252;
$blue:#0097A7;
$dark-blue:#161E21;
$white:#fff;
$black:#101010;
$light-grey:#D4D4D4;
$medium-grey:#949494;

$font-weights: (
    "thin": 100,
    "light": 300,
    "regular":400,
    "medium":500,
    "bold":900,
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name );
}

$headingSizes: (64px, 36px, 24px, 24px);
$headingWeights: (inherit, weight(light), weight(medium), inherit);
$headingTransforms: (none, uppercase, none, none);
$headingLineHeights: (75px, 42px, 28px, 28px);

@for $i from 1 through 4 {
	h#{$i} {
    font-size:      nth($headingSizes, $i);
    font-weight:    nth($headingWeights, $i);
    text-transform: nth($headingTransforms, $i);
    line-height:    nth($headingLineHeights, $i);
    color:          $white;
	}
}

@mixin textCenter {
    width:80%;
    margin: 0 auto;
}

@mixin flexBox ($justifyContent) {
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
}

@mixin mobile {
    @media (max-width: 800px) {
        @content;
    }
}

